Repository zhilovhub/EasyShop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_front_job, deploy_backend_job

deploy_front_job:
  before_script:
  - command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - echo $SSH_PRIVATE_KEY | base64 -d > ~/.ssh/id_rsa
  - echo >> ~/.ssh/id_rsa
  - chmod -R 600 ~/.ssh
  - eval $(ssh-agent -s)
  - ssh-add ~/.ssh/id_rsa
  ...

deploy_backend_job:
  before_script:
  - command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - echo $SSH_PRIVATE_KEY | base64 -d > ~/.ssh/id_rsa
  - echo >> ~/.ssh/id_rsa
  - chmod -R 600 ~/.ssh
  - eval $(ssh-agent -s)
  - ssh-add ~/.ssh/id_rsa
  ...

fix faq message and admin states in tech support
  tech_support/handlers/admins.py
  tech_support/handlers/users.py
Due: deploy_backend_job

fix multiple message sending
  tech_support/utils/send_messages.py
Due: deploy_backend_job

editing all admins messages
  tech_support/bot.py
  tech_support/handlers/admins.py
  tech_support/utils/send_messages.py
Due: deploy_backend_job

fix missing function and add customization param
  bot/handlers/custom_bot_editing_handlers.py
  common_utils/keyboards/keyboards.py
Due: deploy_backend_job

Analytics
  bot/handlers/command_handlers.py
  bot/keyboards/start_keyboards.py
  bot/main.py
  bot/start_message_analytics/__init__.py
  bot/start_message_analytics/start_message_analytics_cache.py
Due: deploy_backend_job

delete click animation and 0.2.1
  bot/handlers/custom_bot_editing_handlers.py
  web_app/ezShop/package.json
  web_app/ezShop/src/components/ProductCard/ProductCard.jsx
  web_app/ezShop/src/components/ProductCard/ProductCard.module.scss
  web_app/ezShop/src/components/ProductPageOption/BlockOption/BlockOption.module.scss
  web_app/ezShop/src/components/ProductPageOption/DropDownCard/DropDownCard.module.scss
  web_app/ezShop/src/components/ProductPageOption/PricedBlockOption/PricedBlockOption.module.scss
  web_app/ezShop/src/shared/style/components/components.scss
Due: deploy_front_job, deploy_backend_job

Tests init
  .env-example
  .test.env
  bot/requirements.txt
  common_utils/config/env_config.py
  custom_bots/requirements.txt
  database/models/models.py
  logs/config.py
  pytest.ini
  tests/__init__.py
  tests/conftest.py
  tests/database/__init__.py
  tests/database/conftest.py
  tests/database/payment_model/__init__.py
  tests/database/payment_model/conftest.py
  tests/database/payment_model/test_payment_model.py
Due: deploy_backend_job

Get json
  bot/filters/is_admin.py
  bot/handlers/admin_group_commands_handler.py
  bot/main.py
Due: deploy_backend_job

fixed nug
  bot/handlers/custom_bot_editing_handlers.py
Due: deploy_backend_job

New front refactor
  web_app/ezShop/src/app/App.jsx
  web_app/ezShop/src/components/BasketCard/BasketCard.jsx
  web_app/ezShop/src/components/BasketCard/BasketCard.module.scss
  web_app/ezShop/src/components/ProductCard/ProductCard.jsx
  web_app/ezShop/src/components/ProductCard/ProductCard.module.scss
  web_app/ezShop/src/components/ProductPageOption/PricedBlockOption/PricedBlockOption.module.scss
  web_app/ezShop/src/components/Slider/Slider.module.scss
  web_app/ezShop/src/components/inputs/ChooseInput/ChooseInput.module.scss
  web_app/ezShop/src/pages/BasketPage/BasketPage.jsx
  web_app/ezShop/src/pages/BasketPage/BasketPage.module.scss
  web_app/ezShop/src/pages/Catalog/Сatalog.module.scss
  web_app/ezShop/src/pages/FilterPage/FilterPage.jsx
  web_app/ezShop/src/pages/FilterPage/FilterPage.module.scss
  web_app/ezShop/src/pages/OrderPage/OrderPage.jsx
  web_app/ezShop/src/pages/OrderPage/OrderPage.module.scss
  web_app/ezShop/src/pages/ProductPage/ProductPage.jsx
  web_app/ezShop/src/shared/images/order-img.svg
  web_app/ezShop/src/shared/redux/action/AppOptionsAction.js
  web_app/ezShop/src/shared/redux/action/CategoriesAction.js
  web_app/ezShop/src/shared/redux/reducer/AppOptionsReducer.js
  web_app/ezShop/src/shared/redux/reducer/CategoriesReducer.js
  web_app/ezShop/src/shared/redux/store/ConfigureStore.js
  web_app/ezShop/src/shared/style/components/components.scss
Due: deploy_front_job

refactor null parametr error
  web_app/ezShop/src/app/App.jsx
  web_app/ezShop/src/pages/OrderPage/OrderPage.module.scss
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-Black.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-BlackItalic.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-Bold.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-BoldItalic.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-Italic.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-Light.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-LightItalic.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-Medium.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-MediumItalic.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-Regular.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-Thin.ttf
  web_app/ezShop/src/shared/fonts/Roboto/Roboto-ThinItalic.ttf
Due: deploy_front_job

check null currency_symbol
  web_app/ezShop/src/app/App.jsx
  web_app/ezShop/src/components/ProductCard/ProductCard.jsx
Due: deploy_front_job

fixed
  web_app/ezShop/src/components/ProductCard/ProductCard.jsx
Due: deploy_front_job

Translate shop
  .gitlab-ci.yml
  administration/bot_update_options.py
  api/orders/router.py
  api/settings/router.py
  api/utils/exceptions.py
  bot/handlers/admin_bot_menu_handlers.py
  bot/handlers/custom_bot_editing_handlers.py
  bot/keyboards/main_menu_keyboards.py
  bot/utils/message_texts.py
  common_utils/bot_utils.py
  common_utils/keyboards/keyboards.py
  common_utils/keyboards/order_manage_keyboards.py
  common_utils/message_texts.py
  custom_bots/handlers/channel_handlers.py
  custom_bots/handlers/command_handlers.py
  custom_bots/handlers/handlers.py
  custom_bots/handlers/inline_mode_handler.py
  custom_bots/handlers/order_handlers.py
  custom_bots/handlers/payments_handler.py
  custom_bots/handlers/question_handlers.py
  custom_bots/keyboards/custom_bot_menu_keyboards.py
  custom_bots/keyboards/order_manage_keyboards.py
  custom_bots/keyboards/question_keyboards.py
  custom_bots/utils/custom_message_texts.py
  custom_bots/utils/order_creation.py
  custom_bots/utils/utils.py
  database/enums/__init__.py
  database/enums/language.py
  database/models/custom_bot_user_model.py
  database/models/option_model.py
  database/models/order_model.py
  database/models/product_model.py
Due: deploy_backend_job

fix null botId and picture
  web_app/ezShop/src/components/ProductCard/ProductCard.jsx
  web_app/ezShop/src/pages/Catalog/Сatalog.jsx
  web_app/ezShop/src/pages/Catalog/Сatalog.module.scss
  web_app/ezShop/src/pages/FilterPage/FilterPage.jsx
  web_app/ezShop/src/shared/images/default-img.svg
Due: deploy_front_job

version 0.2.1 -> 0.2.2
  web_app/ezShop/package.json
Due: deploy_front_job

pictures=[]
  database/models/product_model.py
Due: deploy_backend_job

Lang middleware
  api/settings/router.py
  bot/handlers/admin_bot_menu_handlers.py
  bot/keyboards/main_menu_keyboards.py
  bot/requirements.txt
  common_utils/keyboards/keyboards.py
  common_utils/message_texts.py
  common_utils/middlewaries/errors_middleware.py
  common_utils/middlewaries/lang_middleware.py
  custom_bots/handlers/__init__.py
  custom_bots/handlers/channel_handlers.py
  custom_bots/handlers/command_handlers.py
  custom_bots/handlers/handlers.py
  custom_bots/handlers/inline_mode_handler.py
  custom_bots/handlers/order_handlers.py
  custom_bots/handlers/payments_handler.py
  custom_bots/handlers/question_handlers.py
  custom_bots/handlers/routers.py
  custom_bots/local_api/router.py
  custom_bots/multibot.py
  custom_bots/utils/__init__.py
  custom_bots/utils/bot_restart.py
  custom_bots/utils/custom_message_texts.py
  custom_bots/utils/order_creation.py
  database/config.py
  database/enums/language.py
  database/models/custom_bot_user_model.py
  database/models/models.py
  database/models/pickle_storage_model.py
  database/models/product_model.py
  database/models/user_model.py
Due: deploy_backend_job

eventually, it works
  common_utils/storage/storage.py
  database/models/dao.py
  database/models/user_model.py
  tests/conftest.py
  tests/integration_tests/conftest.py
  tests/integration_tests/start_tests.py
Due: deploy_backend_job

finished
  .env-example
  .gitlab-ci.yml
  .test.env
  bot/handlers/command_handlers.py
  bot/keyboards/start_keyboards.py
  bot/main.py
  bot/utils/send_instructions.py
  common_utils/subscription/subscription.py
  common_utils/tests_utils/__init__.py
  common_utils/tests_utils/messages_collector.py
  database/models/models.py
  ruff.toml
  tests/conftest.py
  tests/database/conftest.py
  tests/integration_tests/__init__.py
  tests/integration_tests/conftest.py
  tests/integration_tests/start_tests.py
  tests/mock_objects/__init__.py
  tests/mock_objects/updates.py
  tests/unit_tests/__init__.py
  tests/unit_tests/database/__init__.py
  tests/unit_tests/database/payment_model/__init__.py
  tests/unit_tests/database/payment_model/conftest.py
  tests/unit_tests/database/payment_model/test_payment_model.py
Due: deploy_backend_job

added clear_table method to scheduler
  bot/handlers/post_message_handlers.py
  bot/main.py
  bot/post_message/post_message_callback_handler.py
  common_utils/scheduler/scheduler.py
  tests/integration_tests/conftest.py
  tests/integration_tests/start_tests.py
Due: deploy_backend_job

ignore arg002 from tests directory
  ruff.toml
Due: none

test_start_command_without_subscription finished
  administration/build_referral_tree.py
  bot/handlers/command_handlers.py
  bot/utils/message_texts.py
  bot/utils/send_instructions.py
  common_utils/tests_utils/messages_collector.py
  tests/integration_tests/conftest.py
  tests/integration_tests/start_tests.py
  tests/unit_tests/database/payment_model/conftest.py
Due: deploy_backend_job

administration/build_referral_tree.py init
  administration/build_referral_tree.py
  database/models/referral_invite_model.py
Due: deploy_backend_job

messages_collector handlers returning values
  administration/build_referral_tree.py
  common_utils/tests_utils/messages_collector.py
  tests/integration_tests/conftest.py
  tests/integration_tests/start_tests.py
Due: deploy_backend_job

removed_is_unit_test
  common_utils/tests_utils/messages_collector.py
Due: deploy_backend_job

temp commit worked on reply markup
  bot/utils/message_texts.py
  bot/utils/send_instructions.py
  common_utils/tests_utils/messages_collector.py
  database/models/bot_model.py
  database/models/option_model.py
  tests/conftest.py
  tests/integration_tests/conftest.py
  tests/integration_tests/start_tests.py
Due: deploy_backend_job

eplyotenueyboard.has_been_triggered
  bot/keyboards/main_menu_keyboards.py
  tests/integration_tests/start_tests.py
Due: deploy_backend_job

test_start_command_without_bot finsihed
  bot/handlers/command_handlers.py
  bot/handlers/custom_bot_editing_handlers.py
  bot/handlers/subscription_handlers.py
  bot/keyboards/main_menu_keyboards.py
  bot/middlewaries/check_role_middleware.py
  bot/utils/message_texts.py
  bot/utils/send_instructions.py
  common_utils/keyboards/remove_keyboard.py
  tech_support/bot.py
  tech_support/handlers/admins.py
  tech_support/handlers/users.py
  tech_support/utils/send_messages.py
  tests/conftest.py
  tests/integration_tests/conftest.py
  tests/integration_tests/start_tests.py
Due: deploy_backend_job

fixed old tests
  bot/handlers/command_handlers.py
  bot/utils/message_texts.py
  bot/utils/send_instructions.py
  tests/integration_tests/conftest.py
  tests/integration_tests/start_tests.py
Due: deploy_backend_job

fixed all tests
  bot/handlers/command_handlers.py
  tests/integration_tests/start_tests.py
Due: deploy_backend_job

ruff check
  administration/build_referral_tree.py
  bot/handlers/command_handlers.py
  bot/utils/message_texts.py
  bot/utils/send_instructions.py
Due: deploy_backend_job

Path conditions:
  deploy_front_job: any of: web_app/**/*
  deploy_backend_job: any of: administration/**/*, api/**/*, bot/**/*, common_utils/**/*, database/**/*, logs/**/*, server/**/*, tech_support/**/*
